<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<clear />
	<!-- Line to connect to the main base -->
	<add name="ConnectionString2" connectionString="Server=localhost;Database=onlyoffice;UserID=root;Pwd=[18984Sau];pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
	<add name="FileStatisticConnectionString" connectionString="Server=localhost;Database=onlyoffice;UserID=root;Pwd=[18984Sau];pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>