<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<clear />
	<!-- Line to connect to the main base -->
	<add name="ConnectionString2" connectionString="data source=&quot;C:\Program Files (x86)\Ascensio System SIA\ONLYOFFICE Online Editors\DocService\App_Data\sqlite.db3&quot;" providerName="System.Data.SQLite"/>
	<add name="FileStatisticConnectionString" connectionString="data source=&quot;C:\Program Files (x86)\Ascensio System SIA\ONLYOFFICE Online Editors\DocService\App_Data\sqlite.db3&quot;" providerName="System.Data.SQLite"/>
</connectionStrings>